<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okanerkan.budgettapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/budgett_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/budgett_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/LabelLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BudgettTypeActivity"
            android:label="@string/LabelBudgettTypes" />
        <activity
            android:name=".BudgettSourceActivity"
            android:label="@string/LabelBudgettSources" />
        <activity
            android:name=".BudgettTypeCardActivity"
            android:label="@string/LabelBudgettType" />
        <activity
            android:name=".BudgettSourceCardActivity"
            android:label="@string/LabelBudgettSource" />
        <activity
            android:name=".UserSettingsActivity"
            android:label="@string/LabelUserSettings" />
        <activity
            android:name=".BudgettReportActivity"
            android:label="@string/MenuItemReport" />
        <activity
            android:name=".BudgettAppActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>